/*$hover-primary-icon: ligthen($color-primary, 20%);*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #f2eafb;
  opacity: 0.95;
}

.loading p {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #9356DC;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid;
  border-color: #99E2D0 #99E2D0;
  box-sizing: border-box;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF79DA #FF79DA;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #9356DC #9356DC transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loading {
  0% {
    opacity: 0.95;
  }
  /*25%{
      opacity: .8;
  }
  50%{
    opacity: .7;
  }
  75%{
      opacity: .3;
  }*/
  100% {
    display: none;
    opacity: 0;
    z-index: -5;
  }
}
.loading {
  animation-name: loading;
  animation-duration: 2500ms;
  animation-fill-mode: forwards;
}

a {
  all: unset;
  cursor: pointer;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  color: #000;
}
.logo__header {
  font-size: 2rem;
}
.logo__footer {
  font-size: 1.25rem;
  color: white;
}

main {
  font-family: "Roboto", sans-serif;
}

/*i {
    margin: 10px;
}*/
h2, h3 {
  font-weight: bold;
  font-size: 1.25rem;
}

.paragraph {
  font-weight: 200;
  text-align-last: center;
}

.logo {
  position: relative;
}
.logo__return {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}
.logo__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70px;
  box-shadow: 0px 2px 4px lightgrey;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e5e5e5;
  color: #404040;
}
.location i {
  margin-right: 5px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro__concept {
  width: 100%;
  height: 250px;
  padding: 25px 0px 25px 0px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align-last: center;
  justify-content: space-between;
}
.intro__guidelines {
  margin-top: 35px;
}
.intro__guidelines__list {
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px lightgrey;
  padding: 15px;
  margin: 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  padding-right: 50px;
}
.intro__guidelines__list:hover {
  background-color: #f2eafb;
}
.intro__guidelines__list:hover i {
  color: #9356DC;
}
.intro__guidelines__list__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px;
  height: 20px;
  width: 20px;
  margin-left: -25px;
}

.fa-store, .fa-mobile-screen-button, .fa-list-ul {
  color: #737373;
  margin: 10px;
}

.restaurant {
  background-color: #F2F2F2;
  height: 100%;
  /*min-height: 350px;
  height: 350px;*/
  overflow: hidden;
}

.restaurant h2 {
  padding: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .tile__new {
  display: none;
}

/*.container[value="1"] a:nth-child(-n+1) {
        display: contents;
    }*/
footer {
  background-color: #333333;
  color: white;
  padding: 15px;
}

footer a {
  display: flex;
  justify-content: flex-start;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__list__item {
  display: flex;
  align-items: center;
  margin: 10px;
}
.footer__list__item i {
  margin-right: 5px;
}

.btn {
  padding: 15px;
  margin: 15px;
  border: transparent;
  border-radius: 2rem;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  color: #FFF;
}

.tile {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 80%;
  height: 230px;
  box-shadow: 0px 2px 4px lightgrey;
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
}
.tile__new {
  /*display: none;*/
  background-color: #99E2D0;
  color: #278870;
  border-radius: 4px;
  padding: 8px;
  width: fit-content;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.tile__img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tile__text {
  display: flex;
  justify-content: space-between;
}
.tile__text__position {
  display: flex;
  flex-direction: column;
}
.tile__title {
  font-weight: bold;
  margin: 10px 0px 0px 10px;
}
.tile__location {
  margin-left: 10px;
  font-weight: 200;
}
.tile__like {
  display: flex;
  align-items: center;
  margin: 10px;
  z-index: 2;
}
.tile__like__heart1 {
  font-size: 20px;
  color: grey;
}
.tile__like__heart1:hover {
  color: pink;
}

.img {
  display: block;
  object-fit: fill;
}

.carte {
  display: block;
  width: 100%;
  transform: translateY(-2.5rem);
  border-radius: 2rem 2rem 0 0;
  background-color: #F2F2F2;
}
.carte__title {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
  padding: 30px 15px 0 15px;
  margin-bottom: 15px;
}
.carte__title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.like {
  position: relative;
}
.like__heart1 {
  position: absolute;
  right: 0px;
}

.menu h3 {
  margin-left: 10px;
}
.menu__title__underline {
  display: block;
  width: 40px;
  border-top: 3px solid #99E2D0;
  margin: 5px 0 20px 10px;
}
.menu__item {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px #e5e5e5;
  padding: 15px;
  margin: 10px;
  /*&:hover {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }*/
}
.menu__item__dispo1 {
  display: block;
  width: 100%;
}
.menu__item__dispo2 {
  display: flex;
  justify-content: space-between;
}
.menu__item__title {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}
.menu__item__info {
  font-weight: 100;
}
.menu__item__price {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}
.menu__item__validation {
  display: none;
}

/*# sourceMappingURL=style.css.map */
