$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$hover-primary: lighten($color-primary, 35%);
/*$hover-primary-icon: ligthen($color-primary, 20%);*/

$black: #000;


$grey: #F2F2F2;
$grey2: darken($grey, 5%);
$grey3: darken($grey, 15%);
$grey4: darken($grey, 70%);
$grey5: darken($grey, 75%);
$grey6: darken($grey, 50%);