.logo {
    position: relative;
    
    &__return {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(-50%,-50%);
        width: 25px;
        height: 25px;
        /*z-index: 2;*/  
    }

    &__header {
        @include flexcenter;
        position: relative;
        height: 70px;
        box-shadow: 0px 2px 4px lightgrey;
    }

    &__footer {
        margin: 10px 0px 10px 0px;
    }
}